---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex flex-col justify-center items-center">
    <p class="text-white text-2xl text-center">
      Welcome to our SpaceX Place! Here, you'll find insights into SpaceX
      flights whether they soared or faced challenges and discover intriguing
      data collected from missions. Join us as we delve into the fascinating
      world of space exploration and celebrate the achievements that push the
      boundaries of human endeavor.
    </p>
  </div>
</Layout>
